<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.liflab.sonde">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ca.liflab.examples.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ca.liflab.examples.MenuListManager">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.liflab.examples.MenuListManager" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="ca.liflab.examples.BottomNav" />
        <activity android:name="ca.liflab.examples.FlatActivity" />
        <activity android:name="ca.liflab.examples.GoupeItemSlider" />
        <activity android:name="ca.liflab.examples.TouchTargetSize" />
        <activity android:name="ca.liflab.examples.CharacterActivityCounter" />
        <activity android:name="ca.liflab.examples.SortElement" />
        <activity android:name="ca.liflab.examples.FloatingButton" />
        <activity android:name="ca.liflab.examples.RtlAcivity"></activity>
        <activity android:name="ca.liflab.examples.Menu_occurrence"></activity>
    </application>

</manifest>